<label>
  Search the word list
  <input
    type="search"
    live-input="search"
    <% if @set_value %>
      value=<%= @query.inspect %>
    <% end %>
  />
</label>

<% if @open %>
  <ul>
    <% @results.each do |result| %>
      <li live-click="select" live-value=<%= result.inspect %>>
        <%= result %>
      </li>
    <% end %>
  </ul>
<% end %>
