<!doctype html>
<html>
  <head>
    <title>Live View Example</title>
  </head>

  <body>
    <h1><a href="/">Home</a></h1>

    <%= ClickCounter.new(@io) %>
    <%= CurrentTime.new(@io) %>

    <script src="/live-view.js"> </script>
  </body>
</html>
